/* --- Variables y Estilos Globales Retro --- */
:root {
    --font-pixel: 'Press Start 2P', cursive;
    --color-bg-retro: #140c1c;
    --color-text-retro: #fff1e8;
    --color-shadow: #000000;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

html {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

body {
    background-color: var(--color-bg-retro);
    color: var(--color-text-retro);
    overflow: hidden;
    font-family: var(--font-pixel);
    font-smooth: never;
    -webkit-font-smoothing: none;
    transition: opacity 0.5s linear;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    transition: opacity 0.5s steps(1, end);
}

.hidden { opacity: 0; pointer-events: none; }
.visible { opacity: 1; }

/* --- PANTALLA 1: DZM STUDIOS (RETRO) --- */
.logo-retro {
    font-size: 4rem;
    font-weight: normal;
    color: #FEEB7A;
    text-shadow: 4px 4px 0px var(--color-shadow);
    opacity: 0;
    animation: flickerIn 3s forwards;
}
@keyframes flickerIn { 0%, 50% { opacity: 0; } 51%, 60% { opacity: 1; } 61%, 70% { opacity: 0; } 71%, 100% { opacity: 1; } }


/* --- PANTALLA 2: CLANHATER'S PROJECTS (AHORA RETRO) --- */
.text-retro {
    font-size: 2.5rem;
    color: var(--color-text-retro);
    text-shadow: 3px 3px 0px var(--color-shadow);
    opacity: 0;
    animation: fadeInPixel 2s 0.5s forwards;
}
@keyframes fadeInPixel { from { opacity: 0; } to { opacity: 1; } }


/* --- PANTALLA 3: TECNOLOGÍAS (RETRO) --- */
.tech-container { display: flex; flex-wrap: wrap; justify-content: center; font-size: 2rem; margin-top: 1rem; }
.tech-text, .tech-item, .tech-separator { opacity: 0; animation: fadeInPixel 0.5s forwards; text-shadow: 2px 2px 0 var(--color-shadow); }
.tech-text { animation-delay: 0.5s; font-size: 1.2rem; }
.html { animation-delay: 1.5s; color: #E44D26; }
.css { animation-delay: 2.0s; color: #264DE4; }
.js { animation-delay: 2.5s; color: #F0DB4F; }
.tech-separator { animation-delay: 3.0s; margin: 0 1rem; }

/* --- MEDIA QUERIES --- */
@media (max-width: 768px) {
    .logo-retro { font-size: 2.5rem; }
    .text-retro { font-size: 1.8rem; }
    .tech-text { font-size: 1rem; }
    .tech-container { font-size: 1.5rem; }
}